html,
body {
  background-color: #f8f6f7;
  background-position: center;
  font-family: "Roboto Slab", serif;
  height: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(39, 39, 39);
}

.intro {
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 4%;
}

.logo {
  width: 70px;
  margin-left: 20px;
}

.bg-dark {
  padding-top: 0px;
  padding-bottom: 0px;
}

.img {
  height: 40%;
  width: 40%;
  content: url("../src/Untitled2.png");
  border-radius: 50%;
  float: left;
  margin-top: 2%;
  margin-right: 5%;
  margin-bottom: 5%;
}

li {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
}

.name {
  color: #722135;
  font-size: 65px;
  font-family: "Permanent Marker", cursive;
  margin-bottom: 20px;
}

.interes {
  font-family: "Roboto Condensed", sans-serif;
  margin: 20px 50px 70px 50px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.IBM,
.BECU {
  width: 65%;
  text-align: left;
  padding-left: 15px;
}

.Seedcode,
.Arsenal {
  width: 65%;
  text-align: left;
  padding-left: 15px;
  margin-left: 35%;
}

.projects {
  margin-left: 20px;
  margin-top: 20%;
}

.projects h3 {
  margin: 150px 0px 80px 0px;
}

.parks,
.jobs,
.movies,
.maps, .brian {
  width: 32%;
  margin-bottom: 30px;
  float: left;
  margin-right: 10px;
}

.bfifxy {
  height: 300px;
}
.bfifxy img {
  height: 100%;
  width: 100%;
}

h3,
h2,
h1,
.button {
  font-family: "Anton", sans-serif;
}

p {
  font-family: "Advent Pro", sans-serif;
}

h6 {
  margin-bottom: 0px;
}

.resume {
  margin-top: 15px;
  font-size: 45px;
}

.button {
  font-size: 20px;
  background-color: Transparent;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
  float: right;
}

.button:hover {
  color: #e44a71;
  transition-delay: 0.2s;
}

.contact {
  margin-top: 10%;
}

.cont {
  margin-bottom: 25px;
}

a {
  color: inherit;
}

a:hover {
  color: #722135 !important;
  cursor: pointer;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 25px 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #ca4571;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}
